{% extends "base.html" %}
{% block title %}{{event.Name}} food plans{% endblock %}
{% block content %}
{{ event }} has {{ meals|length }} meal{{ meals|pluralize }} planned.
<table><th><tr><td>Meal name</td><td>Attendees</td></tr></th>
{% for meal in meals %}
<tr><td>{{ meal.FkMeal.Name }}</td><td>{{ meal.AttendeeCount }}</td><td><a href="{% url 'cost-breakdown' meal.id %}">Cost breakdown</a></td></tr>
{% endfor %}
</table>
<table>
<thead><tr><td>Item</td><td>Total amount needed</td><td>Packages to buy</td><td>Cost</td></tr></thead>
{% for ic in ingredient_costs %}
<tr>
  <td>{{ ic.ItemName }}</td>
  <td>{{ ic.quantity_needed }}</td>
  <td>{{ ic.num_packages }}</td>
  <td>${{ ic.total_cost }}</td>
</tr>
{% endfor %}
<tr><td colspan=3></td><td><strong>${{ total_cost }}</strong></td></tr>
</table>
{% endblock %}