{% extends "base.html" %}
{% block title %}{{event.Name}} food plans{% endblock %}
{% block content %}
{{ event }} has {{ meals|length }} meal{{ meals|pluralize }} planned.
<table><th><tr><td>Meal name</td><td>Attendees</td></tr></th>
{% for meal in meals %}
<tr><td>{{ meal.FkMeal.Name }}</td><td>{{ meal.AttendeeCount }}</td><td><a href="{% url 'cost-breakdown' meal.id %}">Cost breakdown</a></td></tr>
{% endfor %}
</table>
<ul>
{% for ingredient in ingredients %}
<li>{{ ingredient }} {{ingredient.total_ing }}</li>
{% endfor %}
</ul>
{% endblock %}