{% extends "base.html" %}
{% block title %}{{event.Name}} food plans{% endblock %}
{% block content %}
{{ event }} has {{ meals|length }} meal{{ meals|pluralize }} planned.
<table><th><tr><td>Meal name</td><td>Attendees</td></tr></th>
{% for meal in meals %}
<tr><td>{{ meal.FkMeal.Name }}</td><td>{{ meal.AttendeeCount }}</td><td><a href="{% url 'cost-breakdown' meal.id %}">Cost breakdown</a></td></tr>
{% endfor %}
</table>
<table>
<thead><tr>
  <td>Item</td>
  <td>Total amount needed</td>
  <td>Already have</td>
  <td>Packages to buy</td>
  <td>Cost</td>
</tr></thead>
{% for ic in ingredient_costs %}
<tr>
  <td>{{ ic.ItemName }}</td>
  <td>{{ ic.quantity_needed|floatformat:-2 }} {{ ic.QuantityUnits__Name }}</td>
  <td>{% if ic.AlreadyHave != 0 %}{{ ic.AlreadyHave }} @ {{ ic.QuantityProvided}} {{ ic.QuantityUnits__Name }} ea{% endif %}</td>
  <td>{{ ic.num_packages|floatformat:"0" }} {{ ic.QuantityProvided}} {{ ic.QuantityUnits__Name }} package{{ ic.num_packages|pluralize }}</td>
  <td>${{ ic.total_cost|floatformat:2 }}</td>
</tr>
{% endfor %}
<tr><td colspan=3></td><td><strong>${{ total_cost|floatformat:2 }}</strong></td></tr>
</table>
{% endblock %}